<% form_for(@team) do |f| %>
  <%= f.error_messages %>
  
  <div>
    <div>
      <h3>Contact info</h3>
      <p>
        <%= f.label :contact_name %><br />
        <%= f.text_field :contact_name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :contact_phone %><br />
        <%= f.text_field :contact_phone %>
      </p>
    </div>
    <div>
      <h3>School info</h3>
      <p>
        <%= f.label :school_name %><br />
        <%= f.text_field :school_name %>
      </p>
      <p>
        <%= f.label :enrollment %><br />
        <%= f.text_field :enrollment %>
      </p>
    </div>
  </div>
  
  <hr/>
  
  <h3>Coaches who can also be proctors</h3>
  <%= f.label "Also list contact's name if possible" %><br/>
  <% (1..5).each do |num| %>
    <%= num %>. 
    <% proctor = num < @team.proctors.size ? @team.proctors[num] : nil %>
    <% if proctor %>
      <%= text_field "proctors[#{proctor.id}]", 'name', proctor.name %>
    <% else %>
      <%= text_field "proctors[0]", 'name' %>
    <% end %>
    <br/>
  <% end %>
  
  <hr/>
  
  <div>
    <div>
      <h3>Apprentices</h3>
      <%= f.label "First, then last name" %><br/>
      <% (1..15).each do |num| %>
        <%= num %>.
        <% app = num < @team.apprentices.size ? @team.apprentices[num] : nil %>
        <% id = app ? app.id : 0 %>
        <%= text_field "students[#{id}]", 'first_name', :value => (app ? app.first_name : "") %>
        <%= text_field "students[#{id}]", 'last_name', :value => (app ? app.last_name : "") %>
        <%= hidden_field "students[#{id}]", 'level', :value => Student::APPRENTICE %>
        <br/>
      <% end %>
    </div>
    <div>
      <h3>Wizards</h3>
      <%= f.label "First, then last name" %><br/>
      <% (1..15).each do |num| %>
        <%= num %>.
        <% wiz = num < @team.wizards.size ? @team.wizards[num] : nil %>
        <% id = wiz ? wiz.id : 0%>
        <%= text_field "students[#{id}]", 'first_name', :value => (wiz ? wiz.first_name : "") %>
        <%= text_field "students[#{id}]", 'last_name', :value => (wiz ? wiz.last_name : "") %>
        <%= hidden_field "students[#{id}]", 'level', :value => Student::WIZARD %>
        <br/>
      <% end %>
    </div>
  </div>
  
  <p>
    <%= f.submit "Update Information" %>
  </p>
<% end %>

The amount due for this team is <%= 4 * @team.students.size %> dollars.
Please bring the check payable to GT Education to the registration table March 3rd. 
