<h1>Listing all teams</h1>

<div>
  <h3>Statistics</h3>
  <p>
    Team count: <%= Team.count %>
  </p>
  <p>
    Wizard count: <%= Student.wizards.size %>
  </p>
  <p>
    Apprentice count: <%= Student.apprentices.size %>
  </p>
  <p>
    Student count: <%= Student.count %>
  </p>
</div>

<table>
  <tr>
    <th>School name</th>
    <th>Enrollment</th>
    <th>Wizard Count</th>
    <th>Apprentice Count</th>
  </tr>
  
<% for team in @teams %>
  <tr>
    <td><%= link_to(h(team.school_name), team)%></td>
    <td><%=h team.enrollment %></td>
    <td><%= team.wizards.size %></td>
    <td><%= team.apprentices.size %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

