<% if current_team && current_team.admin %>
  <%= link_to 'All Teams', teams_path %>
<% end %>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>
  
  <div style="margin:20px 0" class="clearfix">
    <div class="span-8 colborder">
      <h3>Contact info</h3>
      <p>
        <%= f.label :contact_name %><br />
        <%= f.text_field :contact_name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :contact_phone %><br />
        <%= f.text_field 'phone(1s)', :value => @team.phone.area_code, :size => 3, :limit => 3 %> &ndash;
        <%= f.text_field 'phone(2s)', :value => @team.phone.prefix, :size => 3 %> &ndash;
        <%= f.text_field 'phone(3s)', :value => @team.phone.suffix, :size => 4 %>
      </p>
    </div>
    <div class="span-8 last">
      <h3>School info</h3>
      <p>
        <%= f.label :school_name %><br />
        <%= f.text_field :school_name %>
      </p>
      <p>
        <%= f.label :enrollment %><br />
        <%= f.text_field :enrollment, :size => 4 %>
      </p>
    </div>
  </div>
  
  <hr/>
  <div id="proctors">
    <h3>Coaches who can also be proctors</h3>
    <%= f.label "Also list contact's name if possible" %><br/>
    <%= f.render_associated_form(@team.proctors, :new => 1) %>
  </div>
  <%= f.add_associated_link('add', @team.proctors.build) %>
  <hr/>
  
  <div style="margin:20px 0" class="clearfix">
    <div class="span-8 colborder">
      
      <table id="apprentices">
        <caption>Apprentices (<%= @team.apprentices.size %>/15)</caption>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
        <%= f.render_associated_form(@team.apprentices, :new => 1, :locals => {:level => Student::APPRENTICE}) %>
      </table>
      <%= f.add_associated_link('add', @team.apprentices.build, :locals => {:level => Student::APPRENTICE}, :container => 'apprentices') %>
      
    </div>
    
    <div class="span-8 last">
      
      <table id="wizards">
        <caption>Wizards (<%= @team.wizards.size %>/15)</caption>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
        <%= f.render_associated_form(@team.wizards, :new => 1, :locals => {:level => Student::WIZARD}) %>
      </table>
      <%= f.add_associated_link('add', @team.wizards.build, :locals => {:level => Student::WIZARD}, :container => 'wizards') %>
      
    </div>
    
  </div>
  <br/>
  <p>
    <%= f.submit "Update Information" %>
  </p>
<% end %>

The amount due for this team is <%= 4 * @team.students.size %> dollars.
Please bring the check payable to GT Education to the registration table March 3rd. 
