<% if current_team && current_team.admin %>
  <%= link_to 'All Teams', teams_path %>
<% end %>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>
  
  <div style="margin:20px 0" class="clearfix">
    <div class="span-8 colborder">
      <fieldset>
        <legend>Contact info</legend>
      <p>
        <%= f.label :contact_name %><br />
        <%= f.text_field :contact_name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :contact_phone %><br />
        <% f.fields_for :phone, @team.phone do |pf| %>
          <%= pf.text_field :area_code, :size => 3 %>
          <%= pf.text_field :prefix, :size => 3 %>
          <%= pf.text_field :suffix, :size => 4 %>
        <% end %>
      </p>
      </fieldset>
    </div>
    <div class="span-8 last">
      <fieldset>
        <legend>School info</legend>
        <p>
          <%= f.label :school_name %><br />
          <%= f.text_field :school_name %>
        </p>
        <p>
          <label>9th grade class size</label><br />
          <%= f.text_field :enrollment, :size => 4 %>
        </p>
      </fieldset>
    </div>
  </div>
  
  <hr/>
  <div id="proctors">
    <h3>Coaches who can also be proctors</h3>
    <%= f.label "Also list contact's name if possible" %><br/>
    <%= f.render_associated_form(@team.proctors, :new => 1) %>
  </div>
  <%= f.add_associated_link('add', @team.proctors.build) %>
  <hr/>
  
  <div style="margin:20px 0" class="clearfix">
    <div class="span-8 colborder" style="margin-right:7px">
      
      <table id="apprentices">
        <caption>Apprentices (<%= @team.apprentices.size %>/15)</caption>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
        <%= f.render_associated_form(@team.apprentices, :new => 1, :locals => {:level => Student::APPRENTICE}) %>
      </table>
      <%= f.add_associated_link('add', @team.apprentices.build, :locals => {:level => Student::APPRENTICE}, :container => 'apprentices') %>
      
    </div>
    
    <div class="span-8 last">
      
      <table id="wizards">
        <caption>Wizards (<%= @team.wizards.size %>/15)</caption>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
        <%= f.render_associated_form(@team.wizards, :new => 1, :locals => {:level => Student::WIZARD}) %>
      </table>
      <%= f.add_associated_link('add', @team.wizards.build, :locals => {:level => Student::WIZARD}, :container => 'wizards') %>
      
    </div>
    
  </div>
  <br/>
  <p>
    <%= f.submit "Update Information" %>
  </p>
<% end %>

The amount due for this team is <%= 4 * @team.students.size %> dollars.
Please bring the check payable to GT Education to the registration table March 3rd. 
