
<div class="ui-widget-content ui-corner-all span-11">
  <h3 class="ui-widget-header ui-corner-all">Configuration Panel</h3>

<%= form_for Settings, :url => grading_settings_path do |f| %>
  <p>
    <%= f.label :deadline, 'Deadline for registration' %>:<br />
    <%= f.datetime_select :deadline %>
  </p>

  <p>
    <%= f.label :event_date, 'Date of the tournament' %>:<br />
    <%= f.datetime_select :event_date %>
  </p>

  <p>
    <%= f.label :cost_per_student, 'Cost per student (in dollars)' %>:<br />
    <%= f.text_field :cost_per_student, :size => 4 %>
  </p>

  <%= f.fields_for :cutoff_score, Settings.cutoff_score do |builder| %>

    <% ['small', 'large'].each do |klass| %>

      <fieldset>
        <legend><%= klass.to_s.capitalize %> School cuttoffs</legend>
        <%= builder.fields_for klass, Settings.cutoff_score[klass] do |builder2| %>
          <% ['apprentice', 'wizard'].each do |level| %>
            <p>
              <%= builder2.label level %><br />
              <%= builder2.text_field level, :value => Settings.cutoff_score[klass][level] %>  
            </p>
          <% end %>
        <% end %>
      </fieldset>

    <% end %>

  <% end %>

  <p><%= f.submit "Submit" %></p>
<% end %>
</div>
