<% content_for :sidebar do %>
  <%= render 'schools/sidebar' %>
<% end %>
<h1>Change My Password</h1>

<% form_for @school, :url => password_reset_path(:id => params[:id]), :method => :put do |f| %>
  <%= f.error_messages %>
  <div id="password">
    <p>
      <%= f.label :password %> (or <%= link_to_function 'change your OpenID', "$('#password').slideUp();$('#openid').slideDown()" %>)<br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  </div>

  <div id="openid">
    <p>
      <%= f.label :openid_identifier, 'OpenID Identifier' %> (or <%= link_to_function 'change your password', "$('#openid').slideUp();$('#password').slideDown();" %>)<br/>
      <%= f.text_field :openid_identifier %>
    </p>
  </div>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<% content_for :jsload do %>
  $('#<%= @school.openid_identifier.blank? ? 'openid' : 'password' %>').hide();
<% end %>
