<% content_for :sidebar do %>
  <%= render 'schools/sidebar' %>
<% end %>
<h1>Change My Password</h1>

<% form_for @school, :url => password_reset_path(:id => params[:id]), :html => {:method => :put} do |f| %>
  <%= f.error_messages %>
  <div id="password">
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  </div>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

