<% content_for :sidebar do %>
  <%= render 'schools/sidebar' %>
<% end %>
<%= error_messages_for :school_session %>
<div class="colborder login">
  <h2>Login School</h2>
  <% form_for @school_session, :url => school_session_path do |f| %>
    <div id="pass-login">
      <p>
        <%= f.label :email %>
        (or <%= link_to_function 'OpenID', "$('#pass-login').slideUp();$('#openid-login').slideDown()" %>)
        <%= f.text_field :email, :size => 25, :tabindex => 1 %>
      </p>

      <p>
        <%= f.label :password %> (<%= link_to "Forgot password?", new_password_reset_path %>)
        <%= f.password_field :password, :size => 25, :tabindex => 2 %>
      </p>
    </div>
    <div id="openid-login">
      <p>
        <%= f.label :openid_identifier, 'OpenID' %>
        (or <%= link_to_function 'email/password', "$('#openid-login').slideUp();$('#pass-login').slideDown()" %>)
        <%= f.text_field :openid_identifier, :size => 25, :tabindex => 3 %>
      </p>
    </div>
    <% content_for :js do %>
      $(document).ready(function(){
        $('#<%= @school_session.openid_identifier.blank? ? 'openid-login' : 'pass-login' %>').hide();
      });
    <% end %>
    <p>
      <%= f.check_box :remember_me, :tabindex => 4 %>
      <%= f.label :remember_me %><br/>
      <%= f.submit "Login", :tabindex => 5, :onclick => "$('#pass-login:hidden').find('input').attr('value', '');" +
        "$('#openid-login:hidden').find('input').attr('value', '')" %>
    </p>
  <% end %>
</div>

<div class="login">
  <h2>Register a School</h2>
  <% form_for :school, :url => schools_path, :html => {:method => :post} do |f| %>
    <%= render 'schools/form', :f => f %>
    <p>
      <%= f.submit "Register School" %>
    </p>
  <% end %>
</div>

