<%= error_messages_for :school_session %>
<div class="login outer">
  <div class="inner">
    <h2>Login School</h2>
    <% form_for @school_session, :url => school_session_path do |f| %>
      <div id="pass-login">
        <p>
          <%= f.label :email %><br/>
          <%= f.text_field :email, :tabindex => 1 %>
        </p>

        <p>
          <%= f.label :password %> (<%= link_to "Forgot password?", new_password_reset_path %>)<br />
          <%= f.password_field :password, :tabindex => 2 %>
        </p>
      </div>
      <div>
        <%= f.check_box :remember_me, :tabindex => 4 %>
        <%= f.label :remember_me %>
        <div class="tcenter">
          <%= f.submit "Login", :tabindex => 5 %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br />
<div class="login outer">
  <div class="inner">
    <h2>Register a School</h2>
    <% form_for School.new, :html => {:method => :post, :class => 'new_school'} do |f| %>
      <%= render 'schools/form', :f => f %>
      <p class="tcenter">
        <%= f.submit "Register School" %>
      </p>
    <% end %>
  </div>
</div>
