<% stylesheet 'login' %>
<% javascript 'schools/new' %>

<div class='login'>
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'new_school'}) do |f| %>
    <%= devise_error_messages! %>

    <%= render 'form', :f => f %>
  
    <p><%= f.submit 'Sign up' %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>