<fieldset>
  <legend>Statistics</legend>
  <%- form_tag statistics_path do -%>
    <%= label_tag :level, 'Division:' %>
    <%= select_tag :level, options_for_select([Student::WIZARD, Student::APPRENTICE]) %>
    <br />
    <%= label_tag :class, 'School Size:' %>
    <%= select_tag :class, options_for_select(['Large', 'Small']) %>
    <%= submit_tag "Calculate" %>
  <%- end -%>
</fieldset>
<fieldset>
  <legend>Categories</legend>
  <ul>
    <li><%= link_to 'Your School Results', school_results_path %></li>
    <li><%= link_to 'Sweepstakes Results', sweepstakes_results_path %></li>
    <li><%= link_to 'Individual Results', individual_results_path %></li>
  </ul>
</fieldset>
