<h1>Individual Results</h1>

<div id="tabs">
  <ul>
    <li><%= link_to 'Wizard - Large', '#wizard-large' %></li>
    <li><%= link_to 'Wizard - Small', '#wizard-small' %></li>
    <li><%= link_to 'Apprentice - Large', '#apprentice-large' %></li>
    <li><%= link_to 'Apprentice - Small', '#apprentice-small' %></li>
  </ul>

	<%= render 'individual_results', :klass => 'large', :level => 'wizard', :students => @students.wizard.large %>
	
	<%= render 'individual_results', :klass => 'large', :level => 'apprentice', :students => @students.apprentice.large %>
	
	<%= render 'individual_results', :klass => 'small', :level => 'wizard', :students => @students.wizard.small %>
	
	<%= render 'individual_results', :klass => 'small', :level => 'apprentice', :students => @students.apprentice.small %>
</div>

