<h1><%= h @school.name %>'s Results </h1>
<div class="container">
  <div class="span-6 ui-widget-content ui-accordion-content ui-helper-reset ui-accordion-content-active">
    <table id="info" class="noborder">
      <tr>
        <td>Total Score:</td>
        <td><%= @school.school_score || 0 %></td>
      </tr>
      <tr>
        <td>Wizard Team Score:</td>
        <td><%= (wiz = @school.teams.non_exhibition.wizard.first).team_score || 0 %></td>
      </tr>
      <tr>
        <td>Wizard Team Test Score:</td>
        <td><%= wiz.team_test_score || 0 %></td>
      </tr>
      <tr>
        <td>Apprentice Team Score:</td>
        <td><%= (app = @school.teams.non_exhibition.apprentice.first).team_score || 0 %></td>
      </tr>
      <tr>
        <td>Apprentice Team Test Score:</td>
        <td><%= app.team_test_score || 0 %></td>
      </tr>
    </table>
  </div>

  <%= google_chart :cht => 'p3',
                   :chco => '006666',
                   :chs => '600x200',
                   :chd => "t:#{wiz.student_score_sum},#{wiz.team_test_score}," +
                           "#{app.student_score_sum},#{app.team_test_score}",
                   :chl => 'Wizard Students|Wizard Team Test|Apprentice Students|Apprentice Team Test',
                   :chtt => 'Breakdown of Score' %>
</div>
<h2>Team Results</h2>
<% @school.teams.order('is_exhibition').each do |team| %>
  <%= render 'team', :team => team %>
<% end %>
