<%- content_for :sidebar do -%>
  <%= render 'sidebar' %>
<%- end -%>
<h1><%= h @school.name %>'s Results </h1>
<dl id="info" class="clearfix">
  <dt>Total Score:</dt>
  <dd><%= h @school.school_score || 0 %></dd>
  <dt>Wizard Team Score:</dt>
  <dd><%= @school.teams.non_exhibition.wizard.first.team_score || 0 %></dd>
  <dt>Wizard Team Test Score:</dt>
  <dd><%= @school.teams.non_exhibition.wizard.first.test_score || 0 %></dd>
  <dt>Apprentice Team Score:</dt>
  <dd><%= @school.teams.non_exhibition.apprentice.first.team_score || 0 %></dd>
  <dt>Apprentice Team Test Score:</dt>
  <dd><%= @school.teams.non_exhibition.apprentice.first.test_score || 0 %></dd>
</dl>

<%- ['wizard', 'apprentice'].each do |level| -%>
  <div class="span-7 <%= level == 'wizard' ? 'colborder' : 'last' %>">
    <table>
      <colgroup>
        <col width="40"/>
      </colgroup>
      <tr>
        <td class="separator" colspan="3"><%= level.capitalize %> Results</td>
      </tr>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
      <%- @school.teams.non_exhibition.send(level).first.students.winners.each do |student| -%>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= rank(student.test_score, "student_#{level}") %></td>
          <td><%= h student.name %></td>
          <td><%= student.test_score %></td>
        </tr>
      <%- end -%>
    </table>
  </div>
<%- end -%>
<hr />
<%- if @school.teams.exhibition.size > 0 -%>
  <h2>Exhibition Team Results</h2>
<%- end -%>
<%- @school.teams.exhibition.each do |team| -%>
  <table>
    <colgroup>
      <col width="40"/>
    </colgroup>
    <tr>
      <td class="separator" colspan="3">Exhibition <%= team.id %> Results</td>
    </tr>
    <tr class="odd">
      <td colspan="3">
        <strong>Team Score:</strong> <%= team.team_score || 0 %>
        <br />
        <strong>Team Test Score:</strong> <%= team.test_score || 0 %>
      </td>
    </tr>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <%- team.students.winners.each do |student| -%>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= rank(student.test_score, "exhibition#{team.id}") %></td>
        <td><%= h student.name %></td>
        <td><%= student.test_score %></td>
      </tr>
    <%- end -%>
  </table>
  <hr />
<%- end -%>
