<h1><%= params[:class] %> Schools - <%= params[:level] %> Division</h1>

<table>
  <colgroup>
    <col width="40"/>
  </colgroup>
  <tr>
    <td colspan="5" class="separator"><%= params[:class] %> School Sweepstakes</td>
  </tr>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Apprentice Score</th>
    <th>Wizard Score</th>
    <th>Sweepstakes Score</th>
  </tr>
  <%- @schools.each do |school| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="num"><%= rank(school.school_score, :school)%></td>
      <td><%= h(school.name) %></td>
      <td class="num"><%= school.teams.apprentice.first.team_score %> <%= check_image(school.teams.apprentice.first) %></td>
      <td class="num"><%= school.teams.wizard.first.team_score %> <%= check_image(school.teams.wizard.first) %></td>
      <td class="num"><%= school.school_score %> <%= check_image(school) %></td>
    </tr>
  <%- end -%>
</table>
<table>
  <colgroup>
    <col width="40"/>
  </colgroup>
  <tr>
    <td colspan="5" class="separator"><%= params[:class] %> School <%= params[:level] %> Team Results</td>
  </tr>
  <tr>
    <th>Rank</th>
    <th>School Name</th>
    <th>Student Score Sum</th>
    <th>Test Score</th>
    <th>Total Score</th>
  </tr>
  <%- @teams.each do |team| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="num"><%= rank(team.team_score, :team) %></td>
      <td><%= team_name(team) %></td>
      <td class="num"><%= team.student_score_sum %> <%= check_image(team, :student_scores_checked) %></td>
      <td class="num"><%= team.team_test_score %> <%= check_image(team, :team_score_checked) %></td>
      <td class="num"><%= team.team_score %> <%= check_image(team) %></td>
    </tr>
  <%- end -%>
</table>
<table>
  <colgroup>
    <col width="40"/>
  </colgroup>
  <tr>
    <td colspan="4" class="separator"><%= params[:class] %> School Individual <%= params[:level] %> Results</td>
  </tr>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>School</th>
    <th>Score</th>
  </tr>
  <%- @students.each do |student| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="num"><%= rank(student.test_score, :student) %></td>
      <td><%= h student.name %></td>
      <td><%= team_name(student.team) %></td>
      <td class="num"><%= student.test_score %> <%= check_image(student) %></td>
    </tr>
  <%- end -%>
</table>
