<h1><%= params[:klass].to_s.capitalize %> Schools Statistics</h1>

<div id="tabs">
  <ul>
    <li><%= link_to 'Sweepstakes', '#sweepstakes' %></li>
    <li><%= link_to 'Wizard Teams', '#wizard-team' %></li>
    <li><%= link_to 'Wizard Individual', '#wizard-individual' %></li>
    <li><%= link_to 'Apprentice Teams', '#apprentice-team' %></li>
    <li><%= link_to 'Apprentice Individual', '#apprentice-individual' %></li>
  </ul>

  <div id="sweepstakes">
    <table>
      <colgroup>
        <col width="40"/>
      </colgroup>
      <tr>
        <td colspan="5" class="separator"><%= params[:klass].capitalize %> School Sweepstakes</td>
      </tr>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Apprentice Score</th>
        <th>Wizard Score</th>
        <th>Sweepstakes Score</th>
      </tr>
      <% @schools.each do |school| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td class="num"><%= rank(school.school_score, :school) %></td>
          <td><%= school.name %></td>

          <td class="num">
						<%= school.teams.apprentice.first.team_score %> 
						<%= check_image(school.teams.apprentice.first) %>
					</td>
          <td class="num">
						<%= school.teams.wizard.first.team_score %> 
						<%= check_image(school.teams.wizard.first) %>
					</td>
          <td class="num">
						<%= school.school_score %> 
						<%= check_image(school) %>
					</td>
        </tr>
      <% end %>
    </table>
  </div>

	<%= render 'level_statistics', :level => 'wizard', :teams => @teams.wizard, :students => @students.wizard %>
	
	<%= render 'level_statistics', :level => 'apprentice', :teams => @teams.apprentice, :students => @students.apprentice %>
</div>
