<%- content_for :sidebar do -%>
  <%= render :partial => 'sidebar' %>
<%- end -%>
<h1>Awards</h1>
<hr />
<h3>Sweepstakes Results</h3>
<%- [:large, :small].each do |klass| -%>
  <div class="span-7 <%= klass == :large ? 'colborder' : 'last' %>">
    <table>
      <tr>
        <td colspan="3" class="separator"><%= klass.to_s.capitalize %> Schools</td>
      </tr>
      <tr>
        <th>School</th>
        <th>Score</th>
      </tr>
      <%- @schools.send(klass).each do |school| -%>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= h school.name %></td>
          <td><%= school.school_score %></td>
        </tr>
      <%- end -%>
    </table>
  </div>
<%- end -%>
<%- [:wizard, :apprentice].each do |level| -%>
  <hr />
  <h3><%= level.to_s.capitalize %> Team Results</h3>
  <%- [:large, :small].each do |klass| -%>
    <div class="span-7 <%= cycle('colborder', 'last', :name => :divclass) %>">
      <table>
        <tr>
          <td colspan="2" class="separator"><%= klass.to_s.capitalize %> Schools</td>
        </tr>
        <tr>
          <th>School</th>
          <th>Score</th>
        </tr>
        <%- @teams.send(klass).send(level).each do |team| -%>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= team_name(team) %></td>
            <td><%= team.team_score %></td>
          </tr>
        <%- end -%>
      </table>
    </div>
  <%- end -%>
<%- end -%>
