<div id="tabs">
  <ul>
    <li><a href="#blank">Blank</a></li>
    <li><a href="#unchecked">Unchecked</a></li>
    <li><a href="#checked">Checked</a></li>
    <li><a href="#search">Search</a></li>
  </ul>
  <div id="blank">
    <h1>Blank</h1>

    <p>
      Those teams and students which haven't had scores entered yet. These might need to be entered in to have the correct
      results...
    </p>
    <div class='span-8 colborder'>
    <% if @blank_teams.size > 0 %>
      <h3>Teams</h3>
      <ul>
        <% @blank_teams.each do |team| %>
          <li><%= link_to team_name(team), grading_team_path(team.level) + "?" + {:q => team_name(team)}.to_query %> (<%= team.level %>)</li>
        <% end %>
      </ul>
      <hr />
    <% end %>
    </div>
    <div class='span-7 last'>
    <% if @blank_students.size > 0 %>
      <h3>Students</h3>
      <ul>
        <% @blank_students.each do |student| %>
          <li><%= link_to h(student.name), grading_team_student_path(student.team) + "?" + {:q => student.name}.to_query %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  </div>
  <div id="unchecked">
    <h1>Unchecked</h1>
    <p>
      The teams and students which haven't had their scores checked yet. This is slightly important...
    </p>
    <div class='span-8 colborder'>
      <% if @unchecked_team_scores.size > 0 %>
        <h3>Teams</h3>
        <ul>
          <% @unchecked_team_scores.each do |team| %>
            <li><%= link_to team_name(team), grading_team_path(team.level) + "?" + {:q => team_name(team)}.to_query %> (<%= team.level %>)</li>
          <% end %>
        </ul>
        <hr />
      <% end %>
    </div>
    <div class='span-7 last'>
      <% if @unchecked_student_scores.size > 0 %>
        <h3>Students</h3>
        <ul>
          <% @unchecked_student_scores.each do |team| %>
            <li><%= link_to team_name(team), grading_team_student_path(team) %> (<%= team.level %>)</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  
  <div id="checked">
    <h1>Checked</h1>
    <p>
      The teams and students who have had their scores checked. Congratulations!
    </p>
    <div class='span-8 colborder'>
      <% if @checked_team_scores.size > 0 %>
        <h3>Teams</h3>
        <ul>
          <% @checked_team_scores.each do |team| %>
            <li><%= link_to team_name(team), grading_team_path(team.level) + "?" + {:q => team_name(team)}.to_query %> (<%= team.level %>)</li>
          <% end %>
        </ul>
        <hr />
      <% end %>
    </div>
    <div class='span-7 last'>
      <% if @checked_student_scores.size > 0 %>
        <h3>Students</h3>
        <ul>
          <% @checked_student_scores.each do |team| %>
            <li><%= link_to team_name(team), grading_team_student_path(team) %> (<%= team.level %>)</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div id="search">
    <% form_tag :action => 'search' do %>
      <p>
        <%= text_field_tag :q %>
        <%= submit_tag 'Search' %><br/>
        <%= check_box_tag :apprentice, '1', true %> Apprentice
        <%= check_box_tag :wizard, '1', true %> Wizard
      </p>
    <% end %>
    <div id="response">
    </div>
  </div>
</div>


