<% javascript 'schools/new' %>
<% stylesheet 'login' %>

<div class='flash notice'>
	Unfortunately, Golden Circle has been canceled for 2010. We apologize for any inconvenience. Please check back in Spring 2011!
</div>

<div class="login">
  <h2>Login School</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %> (<%= link_to 'Forgot password?', new_password_path(resource_name) %>)<br />
      <%= f.password_field :password %>
    </p>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div>
      <%= f.submit 'Login' %>
    </div>
  <% end %>
</div>

<% if can? :create, School %>
  <%= render 'schools/form' %>
<% end %>

