<%= f.error_messages %>

<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :name, 'School Name' %><br />
  <%= f.text_field :name %>
</p>
<div id="password_container"<% if @school && !@school.openid_identifier.blank? %>style="display:none"<% end %>>
  <p>
    <%= f.label :password %> (or <%= link_to_function 'use OpenID', "toggle('password_container');toggle('openid_input_container')" %>)<br />
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
</div>
<div id="openid_input_container" <% if !@school || @school.openid_identifier.blank?  %>style="display:none"<% end %>>
  <p>
    <%= f.label :openid_identifier, 'OpenID Identifier' %> (or <%= link_to_function 'use a password', "toggle('password_container');toggle('openid_input_container')" %>)<br />
    <%= f.text_field :openid_identifier %>
  </p>
</div>
