<%= f.error_messages %>

<p>
  <%= f.label :email %><br />
  <%= f.text_field :email, :tabindex => 1234 %>
</p>
<p>
  <%= f.label :name, 'School Name' %><br />
  <%= f.text_field :name, :tabindex => 1235 %>
</p>
<div id="password">
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :tabindex => 1236 %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :tabindex => 1237 %>
  </p>
</div>
