<table>
  <tr>
    <td class="separator" colspan="7"><%= title %></td>
  </tr>
  <tr>
    <th>Admin?</th>
    <th>School name</th>
    <th>Contact email</th>
    <th>Enrollment</th>
    <th>Apprentices</th>
    <th>Wizards</th>
    <th>Students</th>
    <th>Actions</th>
  </tr>

  <% schools.each do |school| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td>
        <% if school != current_school%>
          <%= form_for [:admin, school], :html => {:id => 'admin_school'} do |f| %>
            <div>
              <%= f.check_box :admin %>
              <div class="response"></div>
            </div>
          <% end %>
        <% end %>
      </td>

      <td><%= link_to school.name, school %></td>
      <td><%= mail_to school.email %></td>
      <td class="num"><%= school.enrollment %></td>
      <td class="num"><%= student_count(school, Team::APPRENTICE) %></td>
      <td class="num"><%= student_count(school, Team::WIZARD) %></td>
      <td class="num"><%= student_count(school, :all) %></td>

      <td>
        <% school.teams.each do |team| %>
          <%= link_to (team.is_exhibition ? "Ex #{team.id}" : team.level[0,3]), print_team_school_path(school, team) %> |
        <% end %>

        <%= link_to 'Destroy', school, :confirm => 'Are you sure?', :method => :delete %>
      </td>

    </tr>
  <% end %>
</table>
