<div class="team">
  <fieldset>
    <%= f.remove_link 'Remove Team' %>
    <p>
      <label>Division</label><br/>
      <%= f.select :level, [Student::APPRENTICE, Student::WIZARD] %>
    </p>
    <p>
      <label>Team name</label>
      <%= f.text_field :name %><br/>
      <small><i>i.e. Wizards A, Wizards B, Central Academy Wizards, etc.</i></small>
    </p>

    <%= small_errors(team.students) %>
    <table id="students">
      <caption>
        Students (<%= team.students.size %>/15)
      </caption>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
      <%= f.render_associated_form(team.students, :new => (team.students.size >= 15 ? 0 : 1)) %>
    </table>
    <%= f.add_associated_link('add', team.students.build) %>
    </fieldset>
</div>
