<div class="team<%= ' removable' if f.object.is_exhibition %>">
  <% team = f.object %>
  <% id = extract_team_id(f.object_name) %>
  <p>
    <%= f.label :level, 'Team level:' %>
    <% if team.is_exhibition %>
      <%= f.select :level, [Team::APPRENTICE, Team::WIZARD] %>
      <%= f.hidden_field :_delete %>
      <%= remove_link '[Remove this team]', ".team", :class => 'controls' %>
    <% else %>
      <%= team.level %>
      <%= f.hidden_field :level %>
    <% end %>
  </p>
  <% if team.is_exhibition && !team.new_record? %>
    <p><label>Team ID Number:</label> <%= team.id %></p>
  <% end %>
  <% content_for :js do %>
    $['count<%= id %>'] = <%= team.students.count %>;
  <% end %>
  <%= small_errors(team.students) %>
  <table id="students<%= id %>" class="noborder sortable" style="border:1px solid #066">
    <caption>
      Students (<span id="count<%= id %>"><%= team.students.count %></span>/<%= Team::MAXSTUDENTS %>)
    </caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>&nbsp;</th>
    </tr>
    <% f.fields_for :students do |sf| %>
      <%= render 'student', :f => sf %>
    <% end %>
  </table>
  <%= add_link 'add', "#students#{id}", 
               :parent => ".team",
               :after => "changeCount('count#{id}', 1);" +
                 "$('#students#{id}').find('tr:last').addClass($['count#{id}'] % 2 == 1 ? 'odd' : 'even')",
               :before => "if($['count#{id}'] != null && $['count#{id}'] >= #{Team::MAXSTUDENTS}) return false" %>
</div>
