<div class="team">
  <p>
    <label>Division</label>
    <%= f.select :level, [Student::APPRENTICE, Student::WIZARD] %>
  </p>
  <p>
    <label>Team name</label>
    <%= f.text_field :name %>
  </p>
  <table id="students">
    <caption>
      Students (<%= team.students.size %>/15)
    </caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
    </tr>
    <%= f.render_associated_form(team.students, :new => (team.students.size >= 15 ? 0 : 1)) %>
    <%= f.add_associated_link('add', team.students.build) %>
  </table>
  <%= f.remove_link 'Remove Team' %>
</div>
