<div class="team">
  <%= '<hr/>' if team.is_exhibition %>
  <%= f.hidden_field :is_exhibition %>
  <p>
    <%= f.label :level, 'Team level:' %>
    <%- if team.is_exhibition -%>
      <%= f.select :level, [Team::APPRENTICE, Team::WIZARD] %>
    <%- else -%>
      <%= team.level %>
      <%= f.hidden_field :level %>
    <%- end -%>
    <%- if team.is_exhibition -%>
      <%= f.remove_link '[Remove this team]', :class => 'controls' %>
    <%- end -%>
  </p>
  <%- if team.is_exhibition && !team.new_record? -%>
    <p><label>Team ID Number:</label> <%= team.id %></p>
  <%- end -%>
  <%= small_errors(team.students) %>
  <table id="team<%= team.id %>" class="noborder">
    <caption>
      Students (<%= team.students.size %>/Team::MAXSTUDENTS)
    </caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>&nbsp;</th>
    </tr>
    <%= f.render_associated_form(team.students, :new => (team.students.size >= Team::MAXSTUDENTS ? 0 : 1)) %>
  </table>
  <%= f.add_associated_link('add', team.students.build, :container => "#team#{team.id}") %>
</div>
