<div class="team<%= ' removable' if f.object.is_exhibition %>">
  <% team = f.object %>
  <%= '<hr/>' if team.is_exhibition %>
  <p>
    <%= f.label :level, 'Team level:' %>
    <% if team.is_exhibition %>
      <%= f.select :level, [Team::APPRENTICE, Team::WIZARD] %>
      <%= f.hidden_field :_delete %>

      <%= remove_link '[Remove this team]', ".team", :class => 'controls' %>
    <% else %>
      <%= team.level %>
      <%= f.hidden_field :level %>
    <% end %>
  </p>
  <% if team.is_exhibition && !team.new_record? %>
    <p><label>Team ID Number:</label> <%= team.id %></p>
  <% end %>
  <%= small_errors(team.students) %>
  <% id =  extract_team_id(f.object_name) %>
  <%= javascript_tag "count#{extract_team_id(f.object_name)} = #{team.students.size}" %>
  <table id="students<%= extract_team_id(f.object_name) %>" class="noborder sortable">
    <caption>
      Students
      (<span id="count<%= extract_team_id(f.object_name) %>"><%= team.students.size %></span>/<%= Team::MAXSTUDENTS %>)
    </caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>&nbsp;</th>
    </tr>
    <% f.fields_for :students do |sf| %>
      <%= render 'student', :f => sf %>
    <% end %>
  </table>
  <%= add_link 'add',
               "#students#{extract_team_id(f.object_name)}",
               :parent => ".team",
               :var => 'student',
               :after => "changeCount('count#{extract_team_id(f.object_name)}', 1);" +
                       "$(this).parents('.team').find('tr:last').addClass(count#{extract_team_id(f.object_name)} % 2 == 1 ? 'odd' : 'even')",
               :before => "if(count#{extract_team_id(f.object_name)} >= #{Team::MAXSTUDENTS}) return false" %>

</div>
