<% form_for(@school, :html => {:class => 'edit_school'}) do |f| %>
  <%= f.error_messages %>

  <% content_for :jstemplates do %>
    var proctor='<%= generate_template(f, :proctors) %>';
    var team='<%= generate_template(f, :teams) %>';
  <% end %>
  <% f.fields_for :teams, Team.new, :child_index => 'PARENT_ID' do |tf| %>
    <% content_for :jstemplates do %>
      var student='<%= generate_template(tf, :students) %>';
    <% end %>
  <% end %>

  <div class="clearfix" id="school-info">
    <div class="span-8">
      <fieldset>
        <legend>School</legend>
        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :enrollment, '9th grade school enrollment' %><br />
          <%= f.text_field :enrollment, :size => 4 %>
        </p>
      </fieldset>
    </div>
    <div class="span-7 payment outer tcenter">
      <div class="inner">
        The amount due for this team is
        <span style="color:#008000;font-weight:bold;"><%= number_to_currency @school.cost %></span>.
        <% if @school.cost > 0 %>
          Please bring a check payable to <em>GT Education</em> to the registration table.
        <% end %>
      </div>
    </div>
    <hr />
    <div class="span-8 colborder">
      <fieldset>
        <legend>School Contact</legend>
        <p>
          <%= f.label :contact_name, "Name" %><br />
          <%= f.text_field :contact_name %>
        </p>

        <p>
          <%= f.label :email %>
          <%= link_to '[Change Password]', current_password_resets_path if current_school.id == @school.id %>
          <br />
          <%= f.text_field :email %>
        </p>

        <p>
          <label>Phone</label><br />
          <% f.fields_for :phone, @school.phone do |pf| %>
            <%= pf.text_field :area_code, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :prefix, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :suffix, :size => 4, :maxlength => 4 %>
          <% end %>
        </p>
      </fieldset>
    </div>

    <div class="span-8 last">
      <% @school.proctors.build %>
      <%= small_errors(@school.proctors) %>
      <fieldset id="proctors">
        <legend>Proctors <%= add_link '[add]', '#proctors' %></legend>
        <p>We need proctors. Let us know if you can proctor.</p>
        <% f.fields_for :proctors do |pf| %>
          <%= render 'proctor', :f => pf %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div>
    <h3 style="font-weight:bold;text-align:center">Teams</h3>
    <% @school.teams.each do |team| %>

      <% next if team.is_exhibition %>
      <div class="span-8 <%= cycle 'colborder', 'last', :team_non_ex_class %>">
        <% f.fields_for :teams, team do |tf| %>
          <%= render 'team', :f => tf %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr />

  <div id="exhibition">
    <h3>Exhibition Teams <%= add_link '[add]', '#exhibition', :var => 'team' %></h3>

    <p>
      All Exhibition teams will still participate, although their scores will not count towards the school's total
      score. Once a team is created, it will be assigned an ID number to identify it.
    </p>
    <% @school.teams.each do |team| %>
      <% f.fields_for :teams, team do |etf| %>
        <%= render 'team', :f => etf %>
      <% end if team.is_exhibition %>
    <% end %>
  </div>

  <div class="tcenter save">
      Press this button to save the form!<br />
      <%= f.submit "Save Changes", :onclick => "setConfirmUnload(false)" %>
  </div>
<% end %>


