<% content_for :sidebar do %>
  <%= render 'schools/sidebar' %>
<% end %>
<% content_for :jsinclude do %>
  <%= javascript_include_tag 'prototype', 'notifychange' %>
<% end %>

<% form_for(@school) do |f| %>
  <%= f.error_messages %>

  <% content_for :jstemplates do %>
    <%= "var proctor='#{generate_template(f, :proctors)}'" %>
    <%= "var team='#{generate_template(f, :teams)}'" %>
    <%= "var student='#{}'" %>
  <% end %>
  <%= javascript_tag 'window.onload = function(){ watch(); };' %>

  <div class="clearfix">
    <div class="span-9">
      <fieldset>
        <legend>School</legend>
        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :enrollment, '9th grade school enrollment' %><br />
          <%= f.text_field :enrollment, :size => 4 %>
        </p>
      </fieldset>
    </div>
    <div class="span-7 payment">
      The amount due for this team is
      <span style="color:#008000;font-weight:bold;"><%= number_to_currency @school.cost %></span>. Please
      bring the check payable to GT Education to the registration table.
    </div>
    <hr />
    <div class="span-8 colborder">
      <fieldset>
        <legend>School Contact</legend>
        <p>
          <%= f.label :contact_name, "Name" %><br />
          <%= f.text_field :contact_name %>
        </p>

        <p>
          <%= f.label :email %>
          <% if current_school && current_school.id == @school.id %>
            <%= link_to '[Change Password/OpenID]', current_password_resets_path %>
          <% end %>
          <br />
          <%= f.text_field :email %>
        </p>
        <fieldset>
          <legend>Phone</legend>
          <% f.fields_for :phone, @school.phone do |pf| %>
            <%= pf.text_field :area_code, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :prefix, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :suffix, :size => 4, :maxlength => 4 %>
          <% end %>
        </fieldset>
      </fieldset>
    </div>

    <div class="span-8 last">
      <% @school.proctors.build %>
      <%= small_errors(@school.proctors) %>
      <fieldset id="proctors">
        <legend>Proctors <%= add_link '[add]', 'proctors' %></legend>
        <p>We need proctors. Let us know if you can proctor.</p>
        <% f.fields_for :proctors do |pf| %>
          <%= render 'proctor', :f => pf %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div>
    <h3 style="font-weight:bold;text-align:center">Teams</h3>
    <% @school.teams.each do |team| %>
      <% next if team.is_exhibition %>
      <div class="span-8 <%= cycle 'colborder', 'last', :team_non_ex_class %>">
        <% f.fields_for :teams, team do |tf| %>
          <% content_for :jstemplates do %>
            <%= "var student='#{generate_template(tf, :students)}'" %>
          <% end %>
          <%= render 'team', :f => tf %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr />
  <h3 style="font-weight:bold;text-align:center">Exhibition
    Teams <%= add_link '[add]', 'exhibition', :var => 'team' %></h3>
  <p>All Exhibition teams will still participate, although their scores will not count towards the school's total score.
    Once a team is created, it will be assigned an ID number to identify it.</p>
  <div id="exhibition">
    <% @school.teams.each do |team| %>
      <% f.fields_for :teams, team do |etf| %>
        <%= render 'team', :f => etf %>
      <% end if team.is_exhibition %>
    <% end %>
  </div>

  <hr />

  <p class="strong">
    Press this button to save the form!<br />
    <%= f.submit "Save Changes", :onclick => "closeOk()" %>
  </p>
<% end %>


