<%- content_for :sidebar do -%>
  <%= render :partial => 'schools/sidebar' %>
<%- end -%>

<%= javascript_include_tag 'notifychange' %>
<script type="text/javascript">window.onload = function(){ watch(); };</script>

<% form_for(@school) do |f| %>
  <%= f.error_messages %>

  <div class="clearfix">
    <div class="span-9">
      <fieldset>
        <legend>School</legend>
        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :enrollment, '9th grade school enrollment' %><br />
          <%= f.text_field :enrollment, :size => 4 %>
        </p>
      </fieldset>
    </div>
    <div class="span-7 payment">
      The amount due for this team is
      <span style="color:green;font-weight:bold;"><%= number_to_currency @school.cost %></span>. Please
      bring the check payable to GT Education to the registration table.
    </div>
    <hr />
    <div class="span-8 colborder">
      <fieldset>
        <legend>School Contact</legend>
        <p>
          <%= f.label :contact_name, "Name" %><br />
          <%= f.text_field :contact_name %>
        </p>

        <p>
          <%= f.label :email %>
          <%- if current_school && current_school.id == @school.id -%>
            <%= link_to '[Change Password]', current_password_resets_path %>
          <%- end -%>
          <br />
          <%= f.text_field :email %>
        </p>
        <fieldset>
          <legend>Phone</legend>
          <% f.fields_for :phone, @school.phone do |pf| %>
            <%= pf.text_field :area_code, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :prefix, :size => 3, :maxlength => 3 %> &ndash;
            <%= pf.text_field :suffix, :size => 4, :maxlength => 4 %>
          <% end %>
        </fieldset>
      </fieldset>
    </div>

    <div class="span-8 last">
      <%= small_errors(@school.proctors) %>
      <fieldset id="proctors">
        <legend>Proctors <%= f.add_associated_link('[add]', @school.proctors.build) %></legend>
        <p>We need proctors. Let us know if you can proctor.</p>
        <%= f.render_associated_form(@school.proctors, :new => 1) %>
      </fieldset>
    </div>
  </div>

  <div>
    <h3 style="font-weight:bold;text-align:center">Teams</h3>
    <%= small_errors(@school.teams) %>
    <div class="span-8 colborder">
      <%= f.render_associated_form(@school.teams.non_exhibition.apprentice.first) %>
    </div>
    <div class="span-8 last">
      <%= f.render_associated_form(@school.teams.non_exhibition.wizard.first) %>
    </div>
  </div>

  <hr />

  <h3 style="font-weight:bold;text-align:center">Exhibition Teams <%= f.add_associated_link('[add]', @school.teams.exhibition.build, :container => "#exhibition") %></h3>
  <p>
    All Exhibition teams will still participate, although their scores will not count towards the school's total score.
  </p>
  <div id="exhibition">
    <%# Use this type of access so the errors are rendered correctly when the form has a problem %>
    <%= f.render_associated_form(@school.teams[2..@school.teams.length], :new => 0) %>
  </div>

  <hr/>

  <p id="strong">
    Press this button to save the form!<br />
    <%= f.submit "Save Changes", :onclick => "closeOk()" %>
  </p>

<% end %>


