<h1>Listing all teams</h1>

<div>
  <h4>Statistics</h4>
  <dl id="info">
    <dt>Team count:</dt><dd><%= Team.count %></dd>
    <dt>Wizard count:</dt><dd><%= Student.wizards.size %></dd>
    <dt>Apprentice count:</dt><dd><%= Student.apprentices.size %></dd>
    <dt>Student count:</dt><dd><%= Student.count %></dd>
  </dl>
</div>

<table>
  <tr>
    <th>School name</th>
    <th>Contact email</th>
    <th>Enrollment</th>
    <th>Wizard Count</th>
    <th>Apprentice Count</th>
  </tr>
  
<% for team in @teams %>
  <tr>
    <td><%= link_to(h(team.school_name), team) %></td>
    <td><%= mail_to(team.email) %></td>
    <td><%=h team.enrollment %></td>
    <td><%= team.wizards.size %></td>
    <td><%= team.apprentices.size %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

