<fieldset style="float:left;width:40%">
  <h1>School Index</h1>
  <hr/>
  <% form_tag email_path, :method => :put do %>
    The following button will send a confirmation email to all schools so they might validate the information they have submitted.
    <%= submit_tag 'Send Email Notification', :confirm => "Are you sure?\nThis will email all schools!" %>
  <% end %>
</fieldset>
<table style="width:50%" border=1>
  <caption>Statistics</caption>
  <tr>
    <td></td>
    <th>Large Schools</th>
    <th>Small Schools</th>
    <th>Total</th>
  </tr>
  <tr class="odd">
    <th>School Count:</th>
    <td class="num"><%= @large_schools.size %></td>
    <td class="num"><%= @small_schools.size %></td>
    <td class="num"><b><%= @schools.size %></b></td>
  </tr>
  <% [Student::APPRENTICE, Student::WIZARD, :all].each do |level| %>
    <tr>
      <th><%= level == :all ? 'Total Student' : level %> Count:</th>
      <td class="num"><%= student_count(@large_schools, level) %></td>
      <td class="num"><%= student_count(@small_schools, level) %></td>
      <td class="num"><b><%= student_count(@schools, level) %></b></td>
    </tr>
  <% end %>
</table>

<table border=1>
  <%= render :partial => 'schools', :locals => {:title => 'Large Schools', :schools => @large_schools} %>
  <%= render :partial => 'schools', :locals => {:title => 'Small Schools', :schools => @small_schools} %>
  <%= render :partial => 'schools', :locals => {:title => 'Unlisted Enrollments', :schools => @unknown} %>
</table>

<table border=1 style="width:50%">
  <caption>Available proctors</caption>
  <tr>
    <th>Name</th>
    <th>School</th>
  </tr>
  <% @proctors.each_with_index do |proctor, i| %>
    <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
      <td><%= proctor.name %></td>
      <td><%= proctor.school.name %></td>
    </tr>
  <% end %>
</table>
