<fieldset style="float:left;width:40%;margin-right:20px;">
  <h1>School Index</h1>

  <hr />
  <% form_tag email_schools_path, :method => :put do %>
    The following button will send a confirmation email to all schools so they might validate the information they have
    submitted.
    <%= submit_tag 'Send Email Notification', :confirm => "Are you sure?\nThis will email all schools!" %>
  <% end %>
</fieldset>
<table style="width:50%">
  <caption>Statistics</caption>
  <tr>
    <td>&nbsp;</td>
    <th>Large Schools</th>
    <th>Small Schools</th>
    <th>Total</th>
  </tr>
  <tr class="odd">
    <th>School Count:</th>
    <td class="num"><%= @large_schools.size %></td>
    <td class="num"><%= @small_schools.size %></td>
    <td class="num"><b><%= @schools.size %></b></td>
  </tr>
  <% [Student::APPRENTICE, Student::WIZARD, :all].each do |level| %>
    <tr>
      <th><%= level == :all ? 'Total Student' : level %> Count:</th>
      <td class="num"><%= student_count(@large_schools, level) %></td>
      <td class="num"><%= student_count(@small_schools, level) %></td>
      <td class="num"><span style="font-weight:bold"><%= student_count(@schools, level) %></span></td>
    </tr>
  <% end %>
</table>
<hr />
<%= render :partial => 'schools', :locals => {:title => 'Large Schools', :schools => @large_schools} %>
<%= render :partial => 'schools', :locals => {:title => 'Small Schools', :schools => @small_schools} %>
<%= render :partial => 'schools', :locals => {:title => 'Unlisted Enrollments', :schools => @unknown} %>

<table border=1 style="width:50%">
  <caption>Available proctors</caption>
  <tr>
    <th>Name</th>
    <th>School</th>
  </tr>
  <% @proctors.each_with_index do |proctor, i| %>
    <tr class="<%= rowclass(i) %>">
      <td><%= proctor.name %></td>
      <td><%= proctor.school.name %></td>
    </tr>
  <% end %>
</table>
