<h1>Listing all Schools</h1>

<div>
  <h4>Statistics</h4>
  <dl id="info">
    <dt>School count:</dt><dd><%= School.count %></dd>
    <dt>Student count:</dt><dd><%= Student.count %></dd>
  </dl>
</div>

<table>
  <tr>
    <th>School name</th>
    <th>Contact email</th>
    <th>Enrollment</th>
    <th>Team Count</th>
  </tr>
  
<% for school in @schools %>
  <tr>
    <td><%= link_to(h(school.name), school) %></td>
    <td><%= mail_to(school.email) %></td>
    <td><%=h school.enrollment %></td>
    <td><%= school.teams.size %></td>
    <td><%= link_to 'Destroy', school, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

