<h1><%= @school.name %></h1>
<h2><%= @school.school_class %> - <%= @team.level.classify.pluralize %></h2>
<dl id="info" class="clearfix" style="width:80%">
  <dt>Contact name:</dt>
  <dd><%= h @school.contact_name.blank? ? 'No Contact' : @school.contact_name %></dd>
  <dt>Contact email:</dt>
  <dd><%= mail_to @school.email %></dd>
  <dt>Contact phone:</dt>
  <dd><%= h @school.contact_phone.blank? ? 'No Phone' : @school.contact_phone %></dd>
  <dt>Student Count:</dt>
  <dd><%= @team.students.size %></dd>
</dl>
<table border=1 class="print">
  <tr>
    <td class="separator"></td>
    <td class="separator">First Name</td>
    <td class="separator">Last Name</td>
    <td class="separator">Score</td>
  </tr>
  <% @team.students.each_with_index do |student, i| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="num"><%= i + 1 %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
</table>
<div class="span-12 colborder" style="margin:10px;">
  <p><%= 5.times { "________ + "} %>= _________</p>
  <i>Top 5 individual scores and sum.</i>

  <hr />
  <p>_______ x 5 = ________</p>
  <i>Number right on team test, then times 5</i>
</div>
<div class="span-5 total">
  <p>School Score:</p>
  <i>Add sum and product</i>

  <div class="sum">&nbsp;</div>
</div>
