<% if current_school && current_school.admin %>
  <%= link_to 'All Teams', schools_path %>
<% end %>

<% form_for(@school) do |f| %>
  <%= f.error_messages %>
  
  <div class="clearfix">
    <div class="span-8 colborder">
      <fieldset>
        <legend>Contact info</legend>
        <p>
          <%= f.label :contact_name %><br />
          <%= f.text_field :contact_name %>
        </p>
        <p>
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.label :contact_phone %><br />
          <% f.fields_for :phone, @school.phone do |pf| %>
            <%= pf.text_field :area_code, :size => 3 %> &ndash;
            <%= pf.text_field :prefix, :size => 3 %> &ndash;
            <%= pf.text_field :suffix, :size => 4 %>
          <% end %><br/>
          <small><i>xxx - xxx - xxxx</i></small>
        </p>
      </fieldset>
    </div>
    <div class="span-8 last">
      <fieldset>
        <legend>School info</legend>
        <p>
          <%= f.label :school_name %><br />
          <%= f.text_field :name %>
        </p>
        <p>
          <label>9th grade class size</label><br />
          <%= f.text_field :enrollment, :size => 4 %>
        </p>
      </fieldset>
    </div>
  </div>
  
  <hr/>
  <div id="proctors">
    <h3>Coaches who can also be proctors</h3>
    <%= f.label "Also list contact's name if possible" %><br/>
    <%= f.render_associated_form(@school.proctors, :new => 1) %>
  </div>
  <%= f.add_associated_link('Add a Proctor', @school.proctors.build) %>
  <hr/>
  
  <h3 style="font-weight:bold"><center>Student Roster</center></h3>
  
  <div id="teams">
    <%= f.render_associated_form(@school.teams, :new => 1) %>
    <%= f.add_associated_link('Add a Team', @school.teams.build) %>
  </div>
  <%= f.add_associated_link('Add a Team', @school.teams.build) %>
  
  <br/>
  <hr/>
  <p>
    <%= f.submit "Update Information" %>
  </p>
<% end %>

The amount due for this team is <%= 4 * @school.students.size %> dollars.
Please bring the check payable to GT Education to the registration table March 3rd. 
