<%= javascript_include_tag 'notifychange' %>
<script type="text/javascript">window.onload = function(){ init(); };</script>
<% form_for(@school) do |f| %>
  <%= f.error_messages %>
  
  <div class="clearfix">
    <fieldset>
      <legend>School</legend>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :enrollment, '9th grade school enrollment' %><br />
        <%= f.text_field :enrollment, :size => 4 %>
      </p>
    </fieldset>
    
    <div class="span-8 colborder">
      <fieldset>
        <legend>School Contact</legend>
        <p>
          <%= f.label :contact_name, "Name" %><br />
          <%= f.text_field :contact_name %>
        </p>
        <p>
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </p>
          <fieldset id="school_phone">
            <legend>Phone</legend>
            <% f.fields_for :phone, @school.phone do |pf| %>
              <%= pf.text_field :area_code, :size => 3, :maxlength => 3 %> &ndash;
              <%= pf.text_field :prefix, :size => 3, :maxlength => 3 %> &ndash;
              <%= pf.text_field :suffix, :size => 4, :maxlength => 4 %>
            <% end %>
          </fieldset>
      </fieldset>
    </div>
    
    <div class="span-8 last">
      <%= small_errors(@school.proctors) %>
      <fieldset id="proctors">
        <legend>Proctors <%= f.add_associated_link('[add]', @school.proctors.build) %></legend>
        <p>We need proctors. Let us know if you can proctor.</p>
        <%= f.render_associated_form(@school.proctors, :new => 1) %>
      </fieldset>
    </div>
  </div>
  
  <div>
    <h3 style="font-weight:bold;text-align:center">Teams</h3>
    <%= small_errors(@school.teams) %>
    <div class="span-8 colborder team">
      <%= f.render_associated_form(@school.teams[0]) %>
    </div>
    <div class="span-8 last team">
      <%= f.render_associated_form(@school.teams[1]) %>
    </div>
  </div>
  
  <hr/>
  
  <p id="strong">
    Press this button to save this form!<br/>
    <%= f.submit "Save Changes", :onclick => "closeOk()" %>
  </p>
  
<% end %>

<p id="payment">
The amount due for this team is <font color="green"><b><%= number_to_currency @school.cost %></b></font>. Please bring the check payable to GT Education to the registration table March 3rd.
</p>
