<tr class="<%= school_stat_counter % 2 == 0 ? 'even' : 'odd' %>">
  <td class="num"><%= @schools_rank[school_stat_counter] %></td>
  <td><%= school_stat.name %></td>
  <td class="num"><%= school_stat.apprentice_team.team_score %></td>
  <td class="num"><%= school_stat.wizard_team.team_score %></td>
  <td class="num"><%= school_stat.school_score %></td>
</tr>
