<tr class="<%= student_counter % 2 == 0 ? 'even' : 'odd' %>">
  <td class="num"><%= @students_rank[student_counter] %></td>
  <td><%= student.first_name %> <%= student.last_name %></td>
  <td><%= student.school.name %></td>
  <td class="num"><%= student.test_score %></td>
</tr>
