<tr class="<%= team_counter % 2 == 0 ? 'even' : 'odd' %>">
  <td class="num"><%= @teams_rank[team_counter] %></td>
  <td><%= team.school.name %></td>
  <td class="num"><%= team.student_score_sum %></td>
  <td class="num"><%= team.team_test_score %></td>
  <td class="num"><%= team.team_score %></td>
</tr>
