<h1><%= params[:class] %> Schools - <%= params[:level] %> Division</h1>

<table>
  <tr><td colspan=5 class="separator"><%= params[:class] %> School Sweepstakes</td></tr>
  <tr>
    <th width=40>Rank</th>
    <th>Name</th>
    <th>Apprentice Score</th>
    <th>Wizard Score</th>
    <th>Sweepstakes Score</th>
  </tr>
  <%= render :partial => 'school_stat', :collection => @schools %>
</table>
<table>
  <tr><td colspan=5 class="separator"><%= params[:class] %> School <%= params[:level] %> Team Results</td></tr>
  <tr>
    <th width=40>Rank</th>
    <th>School Name</th>
    <th>Student Score Sum</th>
    <th>Test Score</th>
    <th>Total Score</th>
  </tr>
  <%= render :partial => 'team_stat', :collection => @teams %>
</table>
<table>
  <tr><td colspan=5 class="separator"><%= params[:class] %> School Individual <%= params[:level] %> Results</td></tr>
  <tr>
    <th width=40>Rank</th>
    <th>Name</th>
    <th colspan=2>School</th>
    <th>Score</th>
  </tr>
  <%= render :partial => 'student_stat', :collection => @students %>
</table>
