<%- content_for :sidebar do -%>
  <%= render :partial => 'sidebar' %>
<%- end -%>

<h1><%= params[:class] %> Schools - <%= params[:level] %> Division</h1>

<table>
  <tr>
    <td colspan=5 class="separator"><%= params[:class] %> School Sweepstakes</td>
  </tr>
  <tr>
    <th width=40>Rank</th>
    <th>Name</th>
    <th>Apprentice Score</th>
    <th>Wizard Score</th>
    <th>Sweepstakes Score</th>
  </tr>
  <%- @schools.each_with_index do |school, i| -%>
    <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
      <td class="num"><%= @schools_rank[i] %></td>
      <td><%= h(school.name) %></td>
      <td class="num"><%= school.teams.apprentice.first.team_score %></td>
      <td class="num"><%= school.teams.wizard.first.team_score %></td>
      <td class="num"><%= school.school_score %></td>
    </tr>
  <%- end -%>
</table>
<table>
  <tr>
    <td colspan=5 class="separator"><%= params[:class] %> School <%= params[:level] %> Team Results</td>
  </tr>
  <tr>
    <th width=40>Rank</th>
    <th>School Name</th>
    <th>Student Score Sum</th>
    <th>Test Score</th>
    <th>Total Score</th>
  </tr>
  <%- @teams.each_with_index do |team, i| -%>
    <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
      <td class="num"><%= @teams_rank[i] %></td>
      <td><%= h(team.school.name) %></td>
      <td class="num"><%= team.student_score_sum %></td>
      <td class="num"><%= team.team_test_score %></td>
      <td class="num"><%= team.team_score %></td>
    </tr>
  <%- end -%>
</table>
<table>
  <tr>
    <td colspan=5 class="separator"><%= params[:class] %> School Individual <%= params[:level] %> Results</td>
  </tr>
  <tr>
    <th width=40>Rank</th>
    <th>Name</th>
    <th colspan=2>School</th>
    <th>Score</th>
  </tr>
  <%- @students.each_with_index do |student, i| -%>
    <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
      <td class="num"><%= @students_rank[i] %></td>
      <td><%= h(student.first_name + " " + student.last_name) %></td>
      <td colspan=2><%= student.team.school.name %></td>
      <td class="num"><%= student.test_score %></td>
    </tr>
  <%- end -%>
</table>
