<h1>Editing Individual Scores</h1>
<%= javascript_include_tag 'auto', 'notifychange' %>
<script type="text/javascript">window.onload = function(){ watch();filter("students", "search", "tr"); };</script>


Find:<br/>
<input name="search" type="text" autocomplete="off">
<br/>

<hr/>
<% form_tag(grading_students_path, :method => :put) do %>
  <%= error_messages_for :object => @students %>
<table border=1 id="students">
  <tr>
    <th>Name</th>
    <th>Test Score</th>
    <th>School Name</th>
    <th>Level</th>
  </tr>
  <%- for student in @students -%>
    <%- fields_for("students[#{student.id}]", student) do |sf| -%>
      <tr filter="<%= h(student.first_name + " " + student.last_name).gsub(/ /, "_") %>">
        <td><%= sf.label :test_score, h(student.first_name + " " + student.last_name) %></td>
        <td><%= sf.text_field :test_score, :size => 4 %></td>
        <td><%= h(student.school.name) %></td>
        <td><%= h(student.team.level) %></td>
      </tr>
    <%- end -%>
  <%- end -%>
</table>
<%= submit_tag "Submit Changes", :onclick => "closeOk()" %>
<% end %>
