<h1>Grading Students</h1>

<% form_tag(grading_students_path, :method => :put) do %>
<table border=1>
  <tr>
    <th>Name</th>
    <th>Test Score</th>
    <th>School Name</th>
    <th>Level</th>
  </tr>
  <% for student in @students %>
    <% fields_for("students[#{student.id}]", student) do |sf| %>
      <tr>
        <td><%= sf.label :test_score, student.first_name + " " + student.last_name %></td>
        <td><%= sf.text_field :test_score, :size => 4 %></td>
        <td><%= student.school.name %></td>
        <td><%= student.team.level %></td>
      </tr>
    <% end %>
  <% end %>
</table>
  <%= submit_tag "Submit Changes" %>
<% end %>
