<% content_for :jsinclude  do %>
  <%= javascript_include_tag 'filter', 'notifychange' %>
<% end %>
<% content_for :jsload do %>
  filter("#students tr", "search");
<% end %>

<h1>Editing Individual Scores</h1>

Find:<br />
<input name="search" type="text" />
<hr />
<% form_tag(grading_students_path(:team_id => @team.id), :method => :put) do %>
  <%= error_messages_for :object => [@students, @team] %>
  <% fields_for @team do |tf| %>
    <p>
      <%= tf.check_box :student_scores_checked %>
      <%= tf.label :student_scores_checked, 'These scores have been checked at least once and they are all correctly entered.' %>
    </p>
  <% end %>
  <table id="students">
    <tr>
      <td class="separator" colspan="4">All <%= @team.level %> Students of <%= @team.school.name %></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Test Score</th>
      <th>School Name</th>
      <th>Level</th>
    </tr>
    <% @students.each do |student| %>
      <% fields_for("students[#{student.id}]", student) do |sf| %>
        <tr class="<%= cycle('even', 'odd') %> filter:<%= h(student.first_name + " " + student.last_name).gsub(/ /, "_") %>">
          <td><%= sf.label :test_score, h(student.first_name + " " + student.last_name) %></td>
          <td class="cell"><%= sf.text_field :test_score, :size => 4 %></td>
          <td><%= h @team.school.name %></td>
          <td><%= h @team.level %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <p>
    <%= submit_tag "Submit Changes", :onclick => "setConfirmUnload(false)" %> or
    <%= link_to 'Back to teams', grading_teams_path(:level => @team.level) %>
  </p>
<% end %>
