<%- content_for :sidebar do -%>
  <%= render :partial => 'sidebar' %>
<%- end -%>

<h1>Editing Team Scores</h1>

<%= javascript_include_tag 'filter', 'notifychange' %>
<script type="text/javascript">window.onload = function(){ watch();filter("teams", "search", "tr"); };</script>

Find:<br />
<input name="search" type="text" autocomplete="off">
<hr />


<% form_tag(grading_teams_path(:level => params[:level]), :method => :put) do %>
  <%= error_messages_for :object => @teams %>
  <table id="teams">
    <tr>
      <td class="separator" colspan=4>All <%= h params[:level] %> Teams</td>
    </tr>
    <tr>
      <th>School Name</th>
      <th>Level</th>
      <th>Score</th>
      <th>School Size</th>
      <th></th>
    </tr>
    <%- @teams.each_with_index do |team, i| -%>
      <% fields_for("teams[#{team.id}]", team) do |tf| %>
        <tr filter="<%= h(team.school.name + " " + team.level).gsub(/ /, "_") %>" class="<%= rowclass(i) %>">
          <td><%= tf.label :test_score, h(team.school.name) %></td>
          <td><%= h team.level %></td>
          <td><%= tf.text_field :test_score, :size => 5 %></td>
          <td><%= h team.school.school_class %></td>
          <td><%= link_to 'Individual Scores', grading_students_path(:team_id => team.id) %></td>
        </tr>
      <% end %>
    <%- end -%>
  </table>
  <%= submit_tag "Submit Changes", :onclick => "closeOk()" %>
<% end %>
