<% content_for :sidebar do %>
  <%= render 'grading/sidebar' %>
<% end %>
<h1>Database</h1>

<% form_tag backup_uploads_path, :method => :put do %>
  <p><%= submit_tag 'Backup Database' %> or</p>
<% end %>

<% form_for :backup, @backup, :url => upload_path(@backup, :restore => true), :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :upload, 'Restore the database from a previous backup' %><br />
    <%= f.file_field :upload %>
  </p>

  <p><%= f.submit 'Restore Database',
                  :confirm => "This command is extremely dangerous, are you sure?\n"+
                    "It will produce most likely a lot of errors. Most of these\n"+
                    "can be ignored, however, as what needs to be backed up will\n"+
                    "be backed up." %></p>
<% end %>
<hr />
<h1>Information PDF</h1>
<% form_for @information, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :upload, 'Upload the informational PDF file' %>
    (<%= link_to 'Current one', transfer_upload_path(Upload.find_by_name('information')) %>) <br />
    <%= f.file_field :upload %>
  </p>

  <p><%= f.submit 'Upload' %></p>
<% end %>
