<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Golden Circle</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="description" content="The Golden Circle web site registration and grading system" />
  <meta name="keywords" content="golden circle, math tournament, des moines, central academy" />
  <%= stylesheet_link_tag 'blueprint/screen', 'jquery-ui.css', 'menus', 'style', :media => 'screen, print' %>
  <!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, print' %><![endif]-->
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery.validate', 'jquery.form', 'corner', 'notifychange', 'application' %>

  <%= javascript_tag do %>
    <%= yield(:jstemplates) %>
    <%= yield(:js) %>
    $(function() {
    <%= yield(:jsload) %>
    });
  <% end %>
</head>
