<ul id="topnav" class="menu">
  <li><%= link_to 'Home', current_school ? root_path : login_path %></li>
  <% if can? :grade, School %>
    <li>
      <span>Grading</span>
      <ul>
        <li><%= link_to 'Wizard', grading_team_path(Team::WIZARD) %></li>
        <li><%= link_to 'Apprentice', grading_team_path(Team::APPRENTICE) %></li>
        <li><%= link_to 'Status', grading_status_path %></li>
        <% if can? :manage, School %>
          <li>
            <span>Admin »</span>
            <ul>
              <li><%= link_to 'Roster', schools_path %></li>
              <li><%= link_to 'Settings', grading_setting_path %></li>
              <!--<li><%#= link_to 'Backup/Restore', uploads_path %></li>-->
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if can? :read, 'results' %>
    <li>
      <span>Results</span>
      <ul>
        <li><%= link_to 'Your School', school_results_path %></li>
        <li><%= link_to 'Sweepstakes', sweepstakes_results_path %></li>
        <li><%= link_to 'Individual', individual_results_path %></li>
        <% if can? :read, 'statistics' %>
          <li>
            <span>Statistics »</span>
            <ul>
              <li style="width:110px;"><%= link_to 'Large Schools', statistics_path('large') %></li>
              <li style="width:110px;"><%= link_to 'Small Schools', statistics_path('small') %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
