<!DOCTYPE html>
<html>
<head>
  <title>Golden Circle</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="The Golden Circle web site registration and grading system" />
  <meta name="keywords" content="golden circle, math tournament, des moines, central academy" />

  <%= stylesheet_tags 'application' %>
  <%= javascript_tags %>
</head>
<body>
  <header>
    <%= link_to image_tag('logo.png', :id => 'logo', :alt => 'Golden Circle'), current_school ? root_path : new_school_session_path %>

    <div id="login_links">
      <% if current_school %>
        Logged in as: <%= link_to current_school.name, current_school %> |
        <%= link_to 'Log out', destroy_school_session_path %> |
      <% else %>
        <%= link_to 'Log in', new_school_session_path %> |
      <% end %>

      <% if can? :create, School %>
        | <%= link_to 'Register new school', new_school_path  %>
      <% end %>
    </div>

    <nav><%= render 'layouts/topnav' %></nav>
  </header>

  <div id="container">
    <div id='main'<%= %( class='sidebar').html_safe if content_for?(:sidebar) %>>
      <%= render 'layouts/flash_messages' %>

      <%= yield %>
    </div>

		<% if content_for? :sidebar %>
      <div id="sidebar"><%= yield :sidebar %></div>
		<% end %>
  </div>

  <footer>&reg; 2009, Golden Circle</footer>
</body>
</html>
