<%= render 'layouts/header' %>
<div class="container">
  <div class="span-24 last" id="page">
    <div class="span-17 main">

      <%= render 'layouts/flash_messages' %>

      <%= yield %>

    </div>

    <div class="span-6 last" style="padding-left:5px" id="right">
      <%= yield :sidebar %>
    </div>

  </div>
</div>
<%= render 'layouts/footer' %>
