<%= render :partial => 'layouts/header' %>

<div class="container">
  <div class="span-24 last" id="page">
    <div class="span-17 main" style="border-right:solid #ddd 1px; padding-right:15px;">
      
      <%= render :partial => 'layouts/flash_messages' %>
      
      <%= yield %>
      
    </div>
    
    <div class="span-6 last" style="padding-left:5px">
      <%= render :partial => 'layouts/sidebar' %>
    </div>
    
  </div>
</div>

<%= render :partial => 'layouts/footer' %>
